
<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<head>
<title>个人简历--龙栉</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- css -->
<!-- font-awesome icons -->

<link rel="stylesheet" href="{{ url_for('static',filename="css/font-awesome.min.css") }}">
{#    <link rel="stylesheet" href="{{ url_for }}"urlfor{% static 'css/font-awesome.min.css' %} />#}
<!-- //font-awesome icons -->
<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename="css/style.css") }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.min.css") }}" type="text/css" media="all" />
<!-- Default-JavaScript-File -->
	<script type="text/javascript" src="{{ url_for('static', filename="js/jquery-2.1.4.min.js") }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
<!-- //Default-JavaScript-File -->

</head>
<body>
<!-- banner -->
	<div class="w3-banner-top">
	<div class="agileinfo-dot">
			<div class="w3layouts_menu">
				<nav class="cd-stretchy-nav edit-content">
					<a class="cd-nav-trigger" href="#0"> 菜单 <span aria-hidden="true"></span> </a>
					<ul>
						<li><a href="#" class="scroll"><span>Home</span></a></li>

						<li><a href="#experiences" class="scroll"><span>Expirence</span></a></li>
						<li><a href="#skills" class="scroll"><span>Skills</span></a></li>
                        <li><a href="#about" class="scroll"><span>About</span></a></li>
						<li><a href="#projects" class="scroll"><span>Project</span></a></li>
						<li><a href="#contact" class="scroll"><span>Contacs</span></a></li>
					</ul> 
					<span aria-hidden="true" class="stretchy-nav-bg"></span>
				</nav> 
			</div>

		<div class="w3-banner-grids">
			<div class="col-md-6 w3-banner-grid-left">
				<div class="w3-banner-img">
					<img src="{{ url_for('static', filename="images/me.jpg") }}" alt="img">
					<h3 class="test">龙 栉</h3>
					<p class="test" >Python后端工程师</p>
				</div>
			</div>
			<div class="col-md-6 w3-banner-grid-right">
			<div class="w3-banner-text">
				<h3>擅长</h3>
				<p style="width: 100%">Web开发-Django，Flask，Gunicorn</p>
                <p style="width: 100%">网页数据抓取-Scrapy，Request/BS4</p>
                <p style="width: 100%">数据分析与可视化-Numpy，Pandas，Matplolib，Echarts，SPARK</p>
                <p style="width: 100%">运维-Linux，MySql，Mongodb</p>
{#                <p style="width: 100%">人工智能AI</p>#}
			</div>
				<div class=" w3-right-addres-1">
				<ul class="address">
								<li>
									<ul class="agileits-address-text ">
										<li class="agile-it-adress-left"><b>毕业院校</b></li>
										<li><span>:</span>东北大学</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>专&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp业</b></li>
                                        <li><span>:</span>金融学</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>学&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp历</b></li>
										<li><span>:</span>大学本科</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>E-MAIL</b></li>
										<li><span>:</span><a href="mailto:longzhi.2009@163.com"> longzhi.2009@163.com</a></li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>电&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp话</b></li>
										<li><span>:</span><span>17608238983</span></li>
									</ul>
								</li>
							</ul> 

				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		</div>
		<div class="thim-click-to-bottom">
				<a href="#about" class="scroll">
					<i class="fa  fa-chevron-down"></i>
				</a>
			</div>

	</div>

<!-- //about  -->
<!--/ education -->
	<div class="w3-edu-top" id="experiences">
	<div class="container">
		<div class="w3-edu-grids">
			<div class="col-md-6 w3-edu-grid-left">
				<div class="w3-edu-grid-header">
				<h3>工作经历</h3>
				</div>
				<div class="col-md-4 w3-edu-info1">
					<h3>2016 ~ 2019</h3>
					<h4>FO支持（供应商索偿）</h4>
			</div>
			<div class="col-md-6 w3-edu-info2">
				<h3>SYNNEX(成都聚思力信息技术公司)</h3>
					<h4><i class="fa fa-users" aria-hidden="true"></i><span>Key Person</span></h4>
					<p>负责Cisco等订单管理和索偿</p>
                    <p>负责Panasonic等订单管理和索偿</p>
                    <p>负责部门内培训相关工作</p>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-4 w3-edu-info1">
			<h3>2014 ~ 2016</h3>
					<h4>绩效考核与管理提升</h4>
					
			</div>
			<div class="col-md-6 w3-edu-info2">
				<h3>中航工业兰州万里公司</h3>
					<h4><i class="fa fa-code" aria-hidden="true"></i><span>职员/项目接洽</span></h4>
					<p>主要负责公司绩效评定与考核，负责跟踪整个管理提升项目</p>
                    <p>负责跟踪整个管理提升项目</p>
                    <p>负责公司一系列制度的编制和发布工作</p>
			</div>
			<div class="clearfix"></div>
{#			<div class="col-md-4 w3-edu-info1">#}
{#			<h3>2014</h3>#}
{#					<h4>Graphic designer</h4>#}
{#					#}
{#			</div>#}
{#			<div class="col-md-6 w3-edu-info2">#}
{#				<h3>Ntt software solution</h3>#}
{#					<h4><i class="fa fa-laptop" aria-hidden="true"></i><span>trainer</span></h4>#}
{#					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt a purus et vulputate</p>#}
{#			#}
{#			</div>#}
			<div class="clearfix"></div>		
			</div>
			<div class="col-md-6 w3-edu-grid-right">
			<div class="w3-edu-grid-header">
			<h3>项目经历</h3>
			</div>
				<div class="col-md-3 w3-edu-info-right1">
					<h3>2019</h3>

			</div>
			<div class="col-md-9 w3-edu-info-right2">
				<h3>WEB 开发</h3>
{#					<h4>自适应在线音乐播放网站</h4>#}
                    <h4><i class="fa fa-laptop" aria-hidden="true"></i><a href="#">&nbsp;&nbsp;自适应在线音乐播放网站</a></h4>
					<p>本项目是以Django为框架搭建的，采用MySQL存储数据，其中实现功能音乐存储（图片，详细，媒体文件），音乐播放，注册与登录，歌单操作，用户评论等</p>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-3 w3-edu-info-right1">
				<h3>2019</h3>
			</div>
			<div class="col-md-9 w3-edu-info-right2">
				<h3>数据爬取与数据可视化展示</h3>
{#					<h4>基于房价信息的可视化展示 </h4>#}
                    <h4><i class="fa fa-laptop" aria-hidden="true"></i><a href="#">&nbsp;&nbsp;基于房价信息的可视化展示</a></h4>
					<p>本项目以Scrapy框架为基础爬取了各房源信息网站房源数据，采用MongoDB存取数据，并通过numpy, matplotlib, echarts对数据进行了分析和展示</p>
			</div>
			<div class="clearfix"></div>

            <div class="col-md-3 w3-edu-info-right1">
				<h3>2018</h3>
			</div>
			<div class="col-md-9 w3-edu-info-right2">
				<h3>小程序制作</h3>
{#					<h4>基于Python编程实现的软件开发 </h4>#}
                    <h4><i class="fa fa-laptop" aria-hidden="true"></i><span>&nbsp;&nbsp;基于Python编程实现的软件开发</span></h4>
					<p>多人聊天程序，二维码制作，图片转字符，简易浏览器</p>
			</div>
			<div class="clearfix"></div>
{#			<div class="col-md-3 w3-edu-info-right1">#}
{#			<h3>2004</h3>#}
{#			</div>#}
{#			<div class="col-md-9 w3-edu-info-right2">#}
{#				<h3>international school</h3>#}
{#					<h4>iit certified</h4>#}
{#					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt a purus et vulputate Donec tincidunt a purus et vulputate</p>#}
{#			#}
{#			</div>#}
			<div class="clearfix"></div>		
		</div>
		<div class="clearfix"></div>	
	</div>
	</div>
	</div>
<!-- //education -->
<!-- skills -->
<div class="skills" id="skills">
	<div class="container">
	<div class="title-w3ls">
		<h4>我的技能</h4>
		</div>
		<div class="skills-bar">
		<div class="col-md-6 w3-agile-skills-grid">
			<section class='bar'>
				<section class='wrap'>
					<div class='wrap_right'>
					  <div class='bar_group'>
						<div class='bar_group__bar thin' label='PYTHON' show_values='true' tooltip='true' value='95'></div>
						<div class='bar_group__bar thin' label='Web前端' show_values='true' tooltip='true' value='68'></div>
						<div class='bar_group__bar thin' label='Linux' show_values='true' tooltip='true' value='89'></div>
						<div class='bar_group__bar thin' label='MySQL' show_values='true' tooltip='true' value='87'></div>
						<div class='bar_group__bar thin' label='Django' show_values='true' tooltip='true' value='88'></div>
						</div>
					</div>
					<div class="clearfix"></div>
				</section>
			</section>
		</div>
		<div class="col-md-6 w3-agile-skills-grid">
			<section class='bar'>
				<section class='wrap'>
					<div class='wrap_right'>
					  <div class='bar_group'>
						<div class='bar_group__bar thin' label='Flask' show_values='true' tooltip='true' value='90'></div>
						<div class='bar_group__bar thin' label='MongoDB js' show_values='true' tooltip='true' value='90'></div>
						<div class='bar_group__bar thin' label='Numpy' show_values='true' tooltip='true' value='85'></div>
						<div class='bar_group__bar thin' label='Spark' show_values='true' tooltip='true' value='75'></div>
						<div class='bar_group__bar thin' label='Hadoop' show_values='true' tooltip='true' value='75'></div>
						</div>
					</div>
					<div class="clearfix"></div>
				</section>
			</section>
		</div>
		<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //skills -->


<!-- main-content -->
	<div class="main-content">
		<!-- gallery -->
	<div class="gallery" id="projects">
		<div class="w3-gallery-head">
			<h3>项目概览</h3>
		</div>
	<div class="container">
		<div class="gallery_gds">
			<ul class="simplefilter ">
                <li class="active" data-filter="all">All</li>
                <li data-filter="1">Web开发</li>
                <li data-filter="2">大数据</li>
{#                <li data-filter="3">小程序</li>#}
            </ul>   
            <div class="filtr-container " style="padding: 0px; position: relative; height: 858px;">
				<div class="col-md-4 col-ms-6 jm-item first filtr-item" data-category="1" data-sort="Busy streets" style="opacity: 1; transform: scale(1) translate3d(0px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;">
					<div class="jm-item-wrapper">
						<div class="jm-item-image">
							<img src="{{ url_for('static', filename="images/w1.jpg") }}" alt="property" />
							<span class="jm-item-overlay"> </span>
							<div class="jm-item-button"><a href="#"  data-toggle="modal" data-target="#myModal1">View Details</a></div>
						</div>	
						
					</div>
				</div>
				<div class="col-md-4 col-ms-6 jm-item first filtr-item" data-category="2" data-sort="Luminous night" style="opacity: 1; transform: scale(1) translate3d(380px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;">
					<div class="jm-item-wrapper">
						<div class="jm-item-image">
							<img src="{{ url_for('static', filename="images/sj1.jpg") }}" alt="property" />
							<span class="jm-item-overlay"> </span>
							<div class="jm-item-button"><a href="#"  data-toggle="modal" data-target="#myModal2">View Details</a></div>
						</div>	
						
					</div>
				</div>
				<div class="col-md-4 col-ms-6 jm-item first filtr-item" data-category="1" data-sort="City wonders" style="opacity: 1; transform: scale(1) translate3d(760px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;">
					<div class="jm-item-wrapper">
						<div class="jm-item-image">
							<img src="{{ url_for('static', filename="images/w2.jpg") }}" alt="property" />
							<span class="jm-item-overlay"> </span>
							<div class="jm-item-button"><a href="#"  data-toggle="modal" data-target="#myModal3">View Details</a></div>
						</div>	
						
					</div>
				</div>
				<div class="col-md-4 col-ms-6 jm-item first filtr-item" data-category="1" data-sort="In production" style="opacity: 1; transform: scale(1) translate3d(0px, 286px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;">
					<div class="jm-item-wrapper">
						<div class="jm-item-image">
							<img src="{{ url_for('static', filename="images/w3.jpg") }}" alt="property" />
							<span class="jm-item-overlay"> </span>
							<div class="jm-item-button"><a href="#"  data-toggle="modal" data-target="#myModal4">View Details</a></div>
						</div>	
					</div>
				</div>
				<div class="col-md-4 col-ms-6 jm-item first filtr-item" data-category="2" data-sort="Industrial site" style="opacity: 1; transform: scale(1) translate3d(380px, 286px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;">
					<div class="jm-item-wrapper">
						<div class="jm-item-image">
							<img src="{{ url_for('static', filename="images/sj3.jpg") }}" alt="property" />
							<span class="jm-item-overlay"> </span>
							<div class="jm-item-button"><a href="#"  data-toggle="modal" data-target="#myModal5">View Details</a></div>
						</div>	
					</div>
				</div>
				<div class="col-md-4 col-ms-6 jm-item first filtr-item" data-category="2" data-sort="Industrial site" style="opacity: 1; transform: scale(1) translate3d(380px, 286px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;">
					<div class="jm-item-wrapper">
						<div class="jm-item-image">
							<img src="{{ url_for('static', filename="images/sj4.jpg") }}" alt="property" />
							<span class="jm-item-overlay"> </span>
							<div class="jm-item-button"><a href="#"  data-toggle="modal" data-target="#myModal5">View Details</a></div>
						</div>
						
					</div>
				</div>
				<div class="col-md-4 col-ms-6 jm-item first filtr-item" data-category="1" data-sort="City lights" style="opacity: 1; transform: scale(1) translate3d(0px, 572px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;">
					<div class="jm-item-wrapper">
						<div class="jm-item-image">
							<img src="{{ url_for('static', filename="images/w5.jpg") }}" alt="property" />
							<span class="jm-item-overlay"> </span>
							<div class="jm-item-button"><a href="#"  data-toggle="modal" data-target="#myModal7">View Details</a></div>
						</div>	
						
					</div>
				</div>
				<div class="col-md-4 col-ms-6 jm-item first filtr-item" data-category="2" data-sort="Dreamhouse" style="opacity: 1; transform: scale(1) translate3d(380px, 572px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;">
					<div class="jm-item-wrapper">
						<div class="jm-item-image">
							<img src="{{ url_for('static', filename="images/sj2.jpg") }}" alt="property" />
							<span class="jm-item-overlay"> </span>
							<div class="jm-item-button"><a href="#"  data-toggle="modal" data-target="#myModal8">View Details</a></div>
						</div>	
						
					</div>
				</div>
				<div class="col-md-4 col-ms-6 jm-item first filtr-item" data-category="1" data-sort="Dreamhouse" style="opacity: 1; transform: scale(1) translate3d(760px, 572px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;">
					<div class="jm-item-wrapper">
						<div class="jm-item-image">
							<img src="{{ url_for('static', filename="images/w6.jpg") }}" alt="property" />
							<span class="jm-item-overlay"> </span>
							<div class="jm-item-button"><a href="#"  data-toggle="modal" data-target="#myModal9">View Details</a></div>
						</div>	
						
					</div>
				</div>
{#                <div class="col-md-4 col-ms-6 jm-item first filtr-item" data-category="3" data-sort="Dreamhouse" style="opacity: 1; transform: scale(1) translate3d(760px, 572px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;">#}
{#					<div class="jm-item-wrapper">#}
{#						<div class="jm-item-image">#}
{#							<img src="{{ url_for('static', filename="images/w6.jpg") }}" alt="property" />#}
{#							<span class="jm-item-overlay"> </span>#}
{#							<div class="jm-item-button"><a href="#"  data-toggle="modal" data-target="#myModal9">View Details</a></div>#}
{#						</div>#}
{##}
{#					</div>#}
{#				</div>#}
{#                <div class="col-md-4 col-ms-6 jm-item first filtr-item" data-category="3" data-sort="Dreamhouse" style="opacity: 1; transform: scale(1) translate3d(760px, 572px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;">#}
{#					<div class="jm-item-wrapper">#}
{#						<div class="jm-item-image">#}
{#							<img src="{{ url_for('static', filename="images/w6.jpg") }}" alt="property" />#}
{#							<span class="jm-item-overlay"> </span>#}
{#							<div class="jm-item-button"><a href="#"  data-toggle="modal" data-target="#myModal9">View Details</a></div>#}
{#						</div>#}
{##}
{#					</div>#}
{#				</div>#}
{#                <div class="col-md-4 col-ms-6 jm-item first filtr-item" data-category="2" data-sort="Dreamhouse" style="opacity: 1; transform: scale(1) translate3d(760px, 572px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;">#}
{#					<div class="jm-item-wrapper">#}
{#						<div class="jm-item-image">#}
{#							<img src="{{ url_for('static', filename="images/w6.jpg") }}" alt="property" />#}
{#							<span class="jm-item-overlay"> </span>#}
{#							<div class="jm-item-button"><a href="#"  data-toggle="modal" data-target="#myModal9">View Details</a></div>#}
{#						</div>#}
{##}
{#					</div>#}
{#				</div>#}
               <div class="clearfix"> </div>
            </div>
		</div>
	</div>	
	</div>
	<!--//gallery-->
	</div>
<!-- //main-content -->
<!-- banner -->
<!-- /about -->

<div class="w3-about" id="about">
	<div class="container">
		<div class="w3-about-head">
			<h3>About Me</h3>
		</div>
		<div class="w3-about-grids">
		<div class=" w3-about-grids1">
				<div class="col-md-6 w3-about-grid-left1">
					<img src="{{ url_for('static', filename="images/ab5.jpg") }}" alt="img1">

				</div>
				<div class="col-md-6 w3-about-grid-right1">
					<h3>我是一个努力并且专注的人</h3>
					<p>在工作中我比较执着与专注，喜欢一心一意做一件事，喜欢抠各种瑕疵和细节（处女座，请谅解）；在学习上我非常努力，我喜欢阅读，无论科技、军事、社会还是自然，只要我突然感兴趣，我就会静下心来学习。我曾经屡获荣誉，每一次工作经历都被评为优秀员工。</p>
					<h5></h5>
					<div class= "w3-about-grid-small-border">
					<div class="col-md-4 w3-about-grid-small">
						<h3 class="w3-head-project">2</h3>
						<h5>优秀员工</h5>
					</div>
					<div class="col-md-4 w3-about-grid-small">
					<h3 class="w3-head-project">3</h3>
						<h5>优秀称号</h5>
					</div>
					<div class="col-md-4 w3-about-grid-small">
						<h3 class="w3-head-project">5</h3>
						<h5>奖学金</h5>
						<div class="clearfix"></div>
					</div>
				<div class="clearfix"></div>
				</div>
				</div>
				<div class="clearfix"></div>
				<div class="w3-about-grids2">
				<div class="col-md-6 w3-about-grid-left2">
					<h3>一个后端工程师的养成</h3>
					<p>我是一个专业的Python工程师，即便是半路出家，我同样掌握并精通很多开发工具。我花了很大决心学习开发，非常希望在以后能把无论开发上的知识还是学校里学到的知识都运用到工作中。</p>
{#					<h3><a href="#">Readmore</a></h3>#}

				</div>
				<div class="col-md-6 w3-about-grid-right2">
				<img src="{{ url_for('static', filename="images/ab7.jpg") }}" alt="img1">

				</div>
				<div class="clearfix"></div>
				</div>
		</div>
	</div>
</div>
</div>

{#	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" >#}
{#				<div class="modal-dialog">#}
{#							<!-- Modal content-->#}
{#                            <button type="button" class="close" data-dismiss="modal">&times;</button>#}
{#							<div class="w3ls-property-images w3-pop1-img">#}
{#							</div>#}
{#					#}
{#						<div class="ins-details">#}
{#							<div class="ins-name">#}
{#								<h3>voluptatem accusantium doloremque</h3>#}
{#								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>#}
{#								#}
{#							</div>#}
{#							#}
{#						</div>#}
{#						<div class="clearfix"></div>			#}
{#			     </div>#}
{#	</div>#}
					 
{#<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" >#}
{#				<div class="modal-dialog">#}
{#							<!-- Modal content-->#}
{#                            <button type="button" class="close" data-dismiss="modal">&times;</button>#}
{#							<div class="w3ls-property-images">#}
{#								<img src="{{ url_for('static', filename="images/gal11.jpg") }}" alt="image">#}
{#							</div>#}
{#					#}
{#						<div class="ins-details">#}
{#							<div class="ins-name">#}
{#								<h3>voluptatem accusantium doloremque</h3>#}
{#								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>#}
{#								#}
{#							</div>#}
{#							#}
{#						</div>#}
{#						<div class="clearfix"></div>			#}
{#			     </div>#}
{#	</div>#}
{#					 #}
{#<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" >#}
{#				<div class="modal-dialog">#}
{#							<!-- Modal content-->#}
{#                            <button type="button" class="close" data-dismiss="modal">&times;</button>#}
{#							<div class=" w3ls-property-images w3-pop1-img2">#}
{#							<img src="{{ url_for('static', filename="images/gal22.jpg") }}" alt="image">#}
{#							</div>#}
{#					#}
{#						<div class=" ins-details">#}
{#							<div class="ins-name">#}
{#								<h3>voluptatem accusantium doloremque</h3>#}
{#								#}
{#								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>#}
{#								#}
{#							</div>#}
{#							#}
{#						</div>#}
{#						<div class="clearfix"></div>			#}
{#			     </div>#}
{#	</div>#}
{#					 #}
{#<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" >#}
{#				<div class="modal-dialog">#}
{#							<!-- Modal content-->#}
{#                            <button type="button" class="close" data-dismiss="modal">&times;</button>#}
{#							<div class="w3ls-property-images w3-pop1-img3">#}
{#							<img src="{{ url_for('static', filename="images/gal33.jpg") }}" alt="image">#}
{#							</div>#}
{#					#}
{#						<div class="ins-details">#}
{#							<div class="ins-name">#}
{#								<h3>voluptatem accusantium doloremque</h3>#}
{#								#}
{#								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>#}
{#								#}
{#							</div>#}
{#							#}
{#						</div>#}
{#						<div class="clearfix"></div>			#}
{#			     </div>#}
{#	</div>#}
{#					 #}
{#<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" >#}
{#				<div class="modal-dialog">#}
{#							<!-- Modal content-->#}
{#                            <button type="button" class="close" data-dismiss="modal">&times;</button>#}
{#							<div class=" w3ls-property-images w3-pop1-img4">#}
{#							<img src="{{ url_for('static', filename="images/gal44.jpg") }}" alt="image">#}
{#							</div>#}
{#					#}
{#						<div class=" ins-details">#}
{#							<div class="ins-name">#}
{#								<h3>voluptatem accusantium doloremque</h3>#}
{#								#}
{#								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>#}
{#								#}
{#							</div>#}
{#							#}
{#						</div>#}
{#						<div class="clearfix"></div>			#}
{#			     </div>#}
{#	</div>#}
{#					 #}
{#<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" >#}
{#				<div class="modal-dialog">#}
{#							<!-- Modal content-->#}
{#                            <button type="button" class="close" data-dismiss="modal">&times;</button>#}
{#							<div class=" w3ls-property-images w3-pop1-img5">#}
{#							<img src="{{ url_for('static', filename="images/gal66.jpg") }}" alt="image">#}
{#							</div>#}
{#					#}
{#						<div class=" ins-details">#}
{#							<div class="ins-name">#}
{#								<h3>voluptatem accusantium doloremque</h3>#}
{#								#}
{#								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>#}
{#								#}
{#							</div>#}
{#							#}
{#						</div>#}
{#						<div class="clearfix"></div>			#}
{#			     </div>#}
{#	</div>#}
{#					 #}
{#<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" >#}
{#				<div class="modal-dialog">#}
{#							<!-- Modal content-->#}
{#                            <button type="button" class="close" data-dismiss="modal">&times;</button>#}
{#							<div class=" w3ls-property-images w3-pop1-img6">#}
{#								<img src="{{ url_for('static', filename="images/gal61.jpg") }}" alt="image">#}
{#							</div>#}
{#					#}
{#						<div class=" ins-details">#}
{#							<div class="ins-name">#}
{#								<h3>voluptatem accusantium doloremque</h3>#}
{##}
{#								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>#}
{#								#}
{#							</div>#}
{#							#}
{#						</div>#}
{#						<div class="clearfix"></div>			#}
{#			     </div>#}
{#	</div>#}
{#					 #}
{#<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" >#}
{#				<div class="modal-dialog">#}
{#							<!-- Modal content-->#}
{#                            <button type="button" class="close" data-dismiss="modal">&times;</button>#}
{#							<div class=" w3ls-property-images w3-pop1-img7">#}
{#								<img src="{{ url_for('static', filename="images/gal77.jpg") }}" alt="image">#}
{#							</div>#}
{#					#}
{#						<div class="ins-details">#}
{#							<div class="ins-name">#}
{#								<h3>voluptatem accusantium doloremque</h3>#}
{##}
{#								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>#}
{##}
{#							</div>#}
{#							#}
{#						</div>#}
{#						<div class="clearfix"></div>			#}
{#			     </div>#}
{#	</div>#}
{#<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" >#}
{#				<div class="modal-dialog">#}
{#							<!-- Modal content-->#}
{#                            <button type="button" class="close" data-dismiss="modal">&times;</button>#}
{#							<div class=" w3ls-property-images w3-pop1-img8">#}
{#								<img src="{{ url_for('static', filename="images/gal88.jpg") }}" alt="image">#}
{#							</div>#}
{#					#}
{#						<div class=" ins-details">#}
{#							<div class="ins-name">#}
{#								<h3>voluptatem accusantium doloremque</h3>#}
{##}
{#								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>#}
{##}
{#							</div>#}
{#							#}
{#						</div>#}
{#						<div class="clearfix"></div>			#}
{#			     </div>#}
{#	</div>#}
{#<div class="modal fade" id="myModal9" tabindex="-1" role="dialog" >#}
{#				<div class="modal-dialog">#}
{#							<!-- Modal content-->#}
{#                            <button type="button" class="close" data-dismiss="modal">&times;</button>#}
{#							<div class=" w3ls-property-images w3-pop1-img9">#}
{#							<img src="{{ url_for('static', filename="images/gal99.jpg") }}" alt="image">#}
{#							</div>#}
{#					#}
{#						<div class="ins-details">#}
{#							<div class="ins-name">#}
{#								<h3>voluptatem accusantium doloremque</h3>#}
{##}
{#								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>#}
{##}
{#							</div>#}
{#							#}
{#						</div>#}
{#						<div class="clearfix"></div>			#}
{#			     </div>#}
{#	</div>				 					#}
 <script src="{{ url_for('static', filename="js/jquery.filterizr.js") }}"></script>
    
    <!-- Kick off Filterizr -->
    <script type="text/javascript">
        $(function() {
            //Initialize filterizr with default options
            $('.filtr-container').filterizr();
        });
    </script>

<!-- contact -->
	 <div class="contact" id="contact">
	<div class="container">
		<div class="w3ls-heading">
			<h3>Message/想让我联系您？</h3>
		</div>
			<div class="contact-w3ls">
				<form action="#" method="post">
					<div class="col-md-7 col-sm-7 contact-left agileits-w3layouts">
						<input type="text" name="First Name" placeholder="Name/姓名" required="">
						<input type="email"  class="email" name="Email" placeholder="Email/邮箱" required="">
						<input type="text" name="Number" placeholder="Mobile Number/电话" required="">
						<!-- <input type="text" class="email" name="Last Name" placeholder="Last Name" required=""> -->
					</div> 
					<div class="col-md-5 col-sm-5 contact-right agileits-w3layouts">
						<textarea name="Message" placeholder="Message/留言       注意您的留言将会发送到相应电子邮箱，请备注好留言方式，如有时间，我将会主动联系您。" required=""></textarea>
						<input type="submit" value="提交">
					</div>
					<div class="clearfix"> </div> 
				</form>
			</div>  

	</div>
</div>
<!-- //contact -->
<!-- footer -->
	<div class="w3l_footer">
		<div class="container">
			
			<div class="w3ls_footer_grids">
				
				<div class="w3ls_footer_grid">
					<div class="col-md-4 w3ls_footer_grid_left">
						<div class="w3ls_footer_grid_leftl">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
						</div>
						<div class="w3ls_footer_grid_leftr">
							<h4>Location</h4>
							<p>四川，成都，高新区</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-4 w3ls_footer_grid_left">
						<div class="w3ls_footer_grid_leftl">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</div>
						<div class="w3ls_footer_grid_leftr">
							<h4>Email</h4>
							<a href="mailto:996637518@qq.com">996637518@qq.com</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-4 w3ls_footer_grid_left">
						<div class="w3ls_footer_grid_leftl">
							<i class="fa fa-phone" aria-hidden="true"></i>
						</div>
						<div class="w3ls_footer_grid_leftr">
							<h4>Call Me</h4>
							<p>(+86) 17608238983</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="w3l_footer_pos">
			<p>© 2019 C-Resume. All Rights Reserved | Design by <a href="https://w3layouts.com/">W3layouts</a> | Beautifuled by Long Zhi</p>
		</div>
	</div>
<!-- //footer -->
<script src="{{ url_for('static', filename="js/bars.js") }}"></script>
<!-- start-smoth-scrolling -->
<script src="{{ url_for('static', filename="js/SmoothScroll.min.js") }}"></script>
<!-- text-effect -->
		<script type="text/javascript" src="{{ url_for('static', filename="js/jquery.transit.js") }}"></script> 
		<script type="text/javascript" src="{{ url_for('static', filename="js/jquery.textFx.js") }}"></script> 
		<script type="text/javascript">
			$(document).ready(function() {
					$('.test').textFx({
						type: 'fadeIn',
						iChar: 100,
						iAnim: 1000
					});
			});
		</script>
<!-- //text-effect -->
<!-- menu-js --> 	
	<script src="{{ url_for('static', filename="js/modernizr.js") }}"></script>	
	<script src="{{ url_for('static', filename="js/menu.js") }}"></script>
<!-- //menu-js --> 	


<script type="text/javascript" src="{{ url_for('static', filename="js/move-top.js") }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename="js/easing.js") }}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>


</body>
</html>